@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  margin:0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin:0 auto;
  border-bottom: 1px solid #f2f2f2
}

.navbar h1{
  color: #f1356d;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content{
  max-width: 1000px;
  margin:40px auto;
  padding: 20px;
}

.tab-view {
  width: 800px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.tab-list li{
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;  
  text-overflow: ellipsis ;
  @supports (-webkit-line-clamp: 2) {
    white-space: initial;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    
  }
}



.tab-list li.active {
  background-color: white;
  color:#f1356d;
  border-bottom:2px solid #f1356d
}



.tab-content {
  padding: 20px;

}

.Content-table{
  width: 100%;
}

.property-view {
  display: flex;
  border:1px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 5px;
  margin:5px;
  
}

.property-name{
  font-weight: bold;
  width: 30%;
  background-color: #eee;
  margin:0px;
  padding: 15px;
}

.item-preview{
  width: 70%;
  margin:0px;
  padding: 15px;

}

pre{

  line-height: 1.5;
  
  color: #333; /* Dark gray color for text */
  background-color: #fff; /* Light gray background */
  padding: 15px; 
  border-radius: 4px;
  overflow-x: auto;
  overflow-y:hidden ; 
  font-size: 12px;/* Allow horizontal scrolling if needed */
  white-space: pre-wrap; /* Preserve line breaks and allow wrapping */
  word-break: break-all;
  height: 100px;
  display: block;
}

a{
  
  padding: 20px;
  text-decoration: underline;
  color:#f1356d;
}